[Desktop Entry]
Type=Application
Name=ZapFast
GenericName=WhatsApp Client
Comment=A native WhatsApp client
Exec=zapfast %U
Icon=zapfast
Terminal=false
Categories=Network;InstantMessaging;Chat;
Keywords=whatsapp;chat;messaging;
StartupWMClass=zapfast
MimeType=x-scheme-handler/whatsapp;x-scheme-handler/wa;
